.hand-component {
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
}

.hand-component .card-component {
    margin-left: 10px;
}

.cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cont span {
    color: #ffff00;
    margin: 10px;
    font-size: 25px;
}

.cont .cards {
    display: flex;
}
