.lobby-component {
    width: 100%;
}

body {
    background: #607D8B;;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.content-card-component {
    position: relative;
}

.new-game-button {
    margin-top: 15px;
}
